<!-- BEGIN LAPTOP -->
<section id="laptop" class="container-fluid pt-5 pb-5 bg-light text-dark">
    <h1 class="text-center">BEST LAPTOP</h1>
    <div class="row">
        <div *ngFor="let img of imgs" class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-lg-3">
            <div class="container">
                <div class="card bg-light" style="width:300px">
                    <img class="card-img-top" [src]="img.url" alt="laptop-img" style="max-width:100%; height: 250px;">
                    <div class="card-body text-center">
                        <h4 class="card-title text-center">{{img.name}}</h4>
                        <p class="card-text">{{img.decription}}</p>
                        <a href="#" class="btn btn-primary">Detail</a>
                        <a href="#" class="btn btn-danger">Cart</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-lg-3">
            <app-bt3-card></app-bt3-card>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-lg-3">
            <app-bt3-card></app-bt3-card>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-lg-3">
            <app-bt3-card></app-bt3-card>
        </div> -->
    </div>
</section>

<!-- END LAPTOP -->